
<!DOCTYPE html>
<html lang="pt">
    <head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>insira algo aqui</title>
        <link rel="stylesheet" href="css/bs/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bs/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/style.css">
    </head>
    <body class="back">
    <div class="container tela">
<form>

	<div class="form-group">
        <label for="target">Target</label>
        <input id="target" type="text" class="form-control" placeholder="digite o target" required/>
        <label for="numero">Numero</label>
        <input id="numero" type="text" class="form-control" placeholder="digite o numero" required>
	</div>

	<div class="form-group"></div>

	
	

</form>
        </div>
    </body>
	<script src="js/jquery.min.js"></script>
    </html>
